body {
  padding-top: 5rem;
  /* background: rgb(33,122,162);
  background: linear-gradient(0deg, rgba(33,122,162,1) 0%, rgba(19,75,100,1) 79%);
  background-attachment: fixed; 
  color:white; */
  font-family: 'Lato', sans-serif;
}

h2{
  text-align: center;
}

img{
  width: 100%;
}

.lead{
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.bg-blue{
	background-color:#0c4175;
	color: #fff;
}
.btn-primary{
  background-color:#0c4175;
  color: #fff;
  border-color: #0c4175;
}
.proHead{
  display:block;
  font-size:20px;
}
.proBody{
  display:block;
}
.cont{
  display:block;
}
.proImg{
  margin-left: 15%;
  margin-bottom: 1%;
}

#project_list{
  width: 90%;
  margin: 0 auto;
}

.project{
  width: 90%;
  margin: 5% auto;
  min-height: 47vh;
}

.project-img-top{
  width: 100%;
  max-width: 500px;
  max-height: 350px;
  margin: 0 auto;
  text-align: center;
}

.button{
  width: 30%;
  margin: 0 auto;
  text-align: center;
}
.project-block{
  margin-top:10%;
}
.project-title{
  text-align: center;
  padding: 5% 0 2% 0;
  color:black
  text-decoration: none;
}
.project-title:hover,.project-text:hover{
  text-decoration: none;
}
.project-text{
  color:black;
  text-decoration: none;
}
.project:hover, .card:hover {
 
  text-decoration:none;   
}
.card{
  transition: all .2s ease-in-out;
}
.card:hover{
  -webkit-box-shadow: 4px 1px 4px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 4px 1px 4px 0px rgba(0,0,0,0.25);
  box-shadow: 4px 1px 4px 0px rgba(0,0,0,0.25);
  transform: scale(1.1);
}
a.custom-card{
  text-decoration: none;
}
.centered{
  margin:0 auto;
  width: 32%;
  border-radius:2%;
  overflow:hidden;
}
.article{
  padding: 1%;
  font-size: 1.2em;
  width: 75%;
  margin:0 auto;
}
.center{
  text-align: center;
  width:40%;
  margin:0 auto;
}
.article > h1{
  text-align: center;
}
.article > h2{
  text-align: center;
}
.article > h3{
  text-align: center;
}
.footer{
  padding: 2%;
}
.piTitle{

  font-weight: bold;
}
.articleImage{
  width: 80%;
  margin:0 auto;
  display:block;
  padding-top:1em;
  padding-bottom:  2em;
}
.typeOfWork{
  display:none;
}
canvas{
  padding-top:1em;
  padding-bottom:  2em;
}
.jumpInImage{
  height: auto;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 25%;
  align-items: center;
}

.image-container{
  height:220px;
  justify-content: center;
    width: 100%;
    max-width: 300px;
    /* max-width: 500px; */
    /* max-height: 350px; */
    margin: 0 auto;
    text-align: center;
    margin: auto;
  
}
.non-centered{
  text-align: left;
}
.non-centered > h1,h2,h3,h4,h5{
  text-align: left !important;
}
.qmlSubTitle{
  margin-top:5%;
}
.smallImage{
  height: 400px;
  width: auto;
}
.qmlLinkTitle{
  margin-top:2%;
}
.small-breadcrumb{
  margin-bottom: 1%;
}
.custom-card{
  margin-top:3%;
}
.row{
  margin-bottom:10%;
}
@media(max-width:500px){
  .lead{
    width:100%;
  }
  .image-container {
    min-height: 200px;
    justify-content: center;
  }
}
/* #mainCanvas{
  width: 100%;
} */