:root {
  --image-carousel-width: 75%;

  @media (width >1900px) {
    --image-carousel-width: 50%;
  }
}

html,
body,
p {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: rgb(207, 198, 245);
}

a:visited {
  color: black
}

.navBar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  padding: 3rem;
  align-content: center;

  .navLinks {
    display: flex;
    align-self: center;
    gap: 2rem;
    margin-right: 3rem;
  }

  a {
    color: black;
    text-underline-offset: 0.5rem;
    font-size: 1.25rem;
  }

  a:hover {
    color: rgb(77, 74, 93);
  }

  .homeLink {
    font-weight: bold;

    text-decoration: none;
    font-size: 2rem;
  }

  .selected {
    font-weight: bold;
    text-decoration-color: rgb(119, 7, 134);
  }
}

.titleImage {
  display: flex;
  min-width: 20vw;
  align-items: center;
  gap: .25rem;

  img {
    height: 100%;
    max-width: 15%;
  }
}

main {
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 2rem;
}

.postColumn {
  header {
    font-size: 1.5rem;
  }

  display: flex;
  flex-direction: column;
  gap: 1rem;

  .postSummary {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    text-decoration: none;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;

    .post-title {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .date {
      font-size: 0.9rem;
    }

    .subtitle {}

    &:hover {
      text-decoration: underline;

      cursor: pointer;
    }
  }
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2rem;

  h1 {
    align-self: start;
  }

  p {
    margin-top: 0.5rem;
    width: 60%;
    line-height: 1.8rem;
  }

  ul {
    width: 60%;

    li {
      padding-bottom: 1rem;
      line-height: 1.8rem;
    }
  }

  .particleCanvase {
    min-height: 400px;
  }

  .threejs-frame {
    width: 100%;
    height: 400px;
  }

  .article-image {
    height: 300px;

    img {
      height: 100%;
    }
  }
}

.articleLink {
  text-decoration: none;
  color: black;
}

.project-article {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  max-width: 300px;

  header {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  p {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.75em;
  }

  figure {
    padding: 0;
    margin: 0;

    img {
      height: 100%;
      width: 100%;
      max-height: 220px;
      min-height: 220px;
      object-position: top left;
      object-fit: cover;
      background-color: lightgray;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    padding-bottom: 1rem;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.title {
  font-weight: bold;
  font-size: 2rem;
}

.project-highlights {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

figcaption {
  p {
    padding: 1rem;
  }
}